@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, h1, h2, h3, h4, h5, h6, 
p, a, img, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, form, label, legend,
table, caption, aside, canvas, footer, header,
menu, nav, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
hr {
	margin:0;
	padding:0;
	border:0;	
}
																/*Mix - Ins*/
																
/*@mixin*/	

$blue: #0000FF;
$red: #FF0000;
$green: #00FF00;	
$yellow: #FF0;											
											
@mixin boxshadow() {
	-webkit-box-shadow: 0px 0px 20px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 0px 20px rgba(50, 50, 50, 1);
	box-shadow:         0px 0px 20px rgba(50, 50, 50, 1);
}
@mixin boxshadowcta() {
	-moz-box-shadow: 0 0 15px 3px #000;
	-webkit-box-shadow: 0 0 15px 3px #000;
	box-shadow: 0 0 15px 3px #000;
}
																												


																/*Actual Styles*/
html {
	background:url(../images/escheresque_ste_@2X.png);
	background-repeat:repeat;	
}

body {
	background-image:url(../images/bodybg.png);
	background-position: 0px -120px;
	width:960px;
	margin:0 auto;	
	font-family: Tahoma, Geneva, sans-serif;
}

header {
	background:url(../images/headerGradient.png);
	background-repeat:repeat-x;
	height:100px;
	padding-bottom:100px;
	nav {
		#imgHolder { 
			float:left;
			width:320px;
			img {
				display:block;
				width:220px;
				margin:0 auto;	
			}
		}
		ul {
			float:left;
			width:320px;
			li {
				float:left;
				height: 90px;
				width: 160px;
				text-align:center;
				list-style-type:none;
				padding:30px 0 0 0;
				a {
					color:#CCC;
					text-decoration:none;
					display:block;
					height: 70px;	
					width: inherit;
					font: 24px Tahoma, Geneva, sans-serif;
				}
			}
			li#homeLink a {
				border-top: 10px solid $blue;
				&:hover
				{
					-webkit-animation: mymoveBlue 0.7s alternate 2; /* Safari and Chrome */
				}
			}
			li#workLink a {
				border-top: 10px solid $red;
				&:hover
				{
					-webkit-animation: mymoveRed 0.7s alternate 2; /* Safari and Chrome */
				}
			}
			li#aboutLink a {
				border-top: 10px solid $green;
				&:hover
				{
					-webkit-animation: mymoveGreen 0.7s alternate 2; /* Safari and Chrome */
				}
			}
			li#contactLink a {
				border-top: 10px solid $yellow;
				&:hover
				{
					-webkit-animation: mymoveYellow 0.7s alternate 2; /* Safari and Chrome */
				}
			}
		}
	}
}
															/*CTA Styles*/

.ctaInfo {
	clear:both;
	float:left;
	padding: 80px 10px 70px 10px;
	width: 300px;
	@include boxshadow;
	h1 {
		font: 48px Futura, serif;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;		
		padding: 5px 0 5px 10px;
		background-color: rgba(255,255,255,0.7);
		color:rgba(0,0,0,1);
	}
	p {
		padding:15px 10px 5px 10px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		line-height: 18px;
		background-color: rgba(0,0,0,0.2);
		color: #000;	
		b {
			font-weight: 400;
			font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
			color: rgba(204,204,204,1);
		}
	}
}

.cta {
	float:left;
	padding: 45px 20px 100px 20px;
	width:600px;
	text-align:center;	
	h2 {
		float:left;
		width: 100%;
		font:93px Rockwell, serif;
	}	
	h4 {
		float: left;
		width: 80px;
		font:75px "Palatino Linotype", "Book Antiqua", Palatino, serif;
	}
	h3 {
		font:73px "Britannic Bold";	
		letter-spacing: 10px;
	}
	hr {
		width: 260px;
		float:left;
		margin-top: 50px;
		height: 2px;
		background-color: #000;
	}
}
																	/*Main Content*/
.mainContent {
	overflow:hidden;
	clear: both;	
	padding-top: 100px;
	background: 
		url(../images/mainGradient.png) 0px 0px repeat-x,	/* On top,   */
   		url(../images/kindajean_@2X.png) 10px 10px repeat;  
  		
}
									/*Column Styles*/
.column {
	float:left;
	width: 300px;	
	padding: 0px 9px;
	h3 {
		height: 55px;
		overflow:hidden;
		text-align:center;	
		text-shadow:2px 2px rgba(0,0,0,0.3),
		-1px -1px rgba(204,204,204,0.7);
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		background-color:rgba(0,0,0,0.2);
	}
	a {
		display:block;
		text-align:right;
		text-decoration:none;
		padding: 10px 0px;
	}	
	p {
		height: 150px;
		line-height: 20px;
		padding: 10px 0px 0px 5px;
		background-image: -ms-radial-gradient(left top, ellipse farthest-side, #FFFFFF 0%, #919191 100%);
		background-image: -moz-radial-gradient(left top, ellipse farthest-side, #FFFFFF 0%, #919191 100%);
		background-image: -o-radial-gradient(left top, ellipse farthest-side, #FFFFFF 0%, #919191 100%);
		background-image: -webkit-gradient(radial, left top, 0, left top, 954, color-stop(0, #FFFFFF), color-stop(1, #919191));
		background-image: -webkit-radial-gradient(left top, ellipse farthest-side, #FFFFFF 0%, #919191 100%);
		background-image: radial-gradient(ellipse farthest-side at left top, #FFFFFF 0%, #919191 100%);
		
	}
	img {
		width: 300px;
		height: 220px;
		border-top: 3px solid #000;
		border-bottom: 3px solid #000;
		margin: 0 auto;
	}	
	span {
		font:16px Arial, Helvetica, sans-serif;
		font-weight:bolder;
		letter-spacing: 1px;
	}
	hr {
		height: 7px;
	}	
									/*Color Styles*/
	.red {
		color:darken($red, 15%);	
	}
	.green {
		 color:darken($green, 25%);	
	}
	.blue {
		color:darken($blue, 15%);	
	}
}
	
.column#code {
		hr {
			background-color:$red;
		}
		h3 {
			font: 48px "Britannic Bold";	
		}
	}
.column#design {
		hr {
			background-color:$green;	
		}
		h3 {
			font: 40px Rockwell;	
		}
	}
.column#inspiration {
		hr {
			background-color:$blue;
		}
		h3 {
			font: 40px Futura;	
		}
	}
																	/*Footer*/
footer {
	clear:both;
	background-image:url(../images/headerGradient.png);
	background-position: 0px -50px;
	background-repeat: repeat-x;
	p {
		padding:10px 0;
		text-align: center;
		color:#CCC;	
	}
}

																	/*Keyframes*/

@-webkit-keyframes mymoveBlue		/* Safari and Chrome */
{
from {}
to {border-top:20px solid darken($blue, 10%);color:#FFF;font-size:32px;}
}
@-webkit-keyframes mymoveGreen		/* Safari and Chrome */
{
from {}
to {border-top:20px solid darken($green, 10%);color:#FFF;font-size:32px;}
}
@-webkit-keyframes mymoveRed		/* Safari and Chrome */
{
from {}
to {border-top:20px solid darken($red, 10%);color:#FFF;font-size:32px;}
}
@-webkit-keyframes mymoveYellow		/* Safari and Chrome */
{
from {}
to {border-top:20px solid darken($yellow, 10%);color:#FFF;font-size:32px;}
}




/*animation:mymove 5s infinite;
/*-moz-animation:mymove 5s infinite; /* Firefox */
/*-webkit-animation:mymove 5s infinite; /* Safari and Chrome */
/*-o-animation:mymove 5s infinite; /* Opera */
